.section {
    width: 500px;
    mat-form-field {
        width: 100%;
    }
    button {
        margin: 1em;
    }
    .calculate-section {
        text-align: center;
        width: 100%;
        .volume {
            text-align: left;
        }
        .volume-value {
            font-weight: bold;
            padding-left: 1em;
        }
    }
    mat-list {
        flex-grow: 1;
        border: 3px solid green;
        overflow-y: scroll;
        height: 300px;
    }
}